<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.PaleSoccerFieldAdmin"
        tools:targetApi="s">
        <activity
            android:name=".reservations.editReservations.EditReservation"
            android:exported="false" />
        <activity
            android:name=".otherUsersProfile.SendMessage"
            android:exported="false" />
        <activity
            android:name="SpecialEvents.SpecialEvents"
            android:exported="false" />
        <activity
            android:name=".SpecialEvents.SpecialEvents"
            android:exported="false" />
        <activity
            android:name=".promotions.Promotions"
            android:exported="false" />
        <activity
            android:name=".reservations.addUsersToReservations.AddUsersToReservation"
            android:exported="false" />
        <activity
            android:name=".macthBookings.MatchBookings"
            android:exported="false" />
        <activity
            android:name=".macthBookings.HistoryBookings"
            android:exported="false" />
        <activity
            android:name=".reservations.createReservations.CreateReservations"
            android:exported="false" />
        <activity
            android:name=".reservations.Reservations"
            android:exported="false" />
        <activity
            android:name=".reservations.aproveReservations.AproveReservations"
            android:exported="false" />
        <activity
            android:name=".schedules.Schedules"
            android:exported="false" />
        <activity
            android:name=".deletePassword.DeleteAccount"
            android:exported="false" />
        <activity
            android:name=".changePassword.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".blockedUserList.BlockedUsersList"
            android:exported="false" />
        <activity
            android:name=".aproveUsers.AproveUsers"
            android:exported="false" />
        <activity
            android:name=".userListPackage.UserList"
            android:exported="false" />
        <activity
            android:name=".registro.Register"
            android:exported="true" />
        <activity
            android:name=".userAdminProfile.EditPositionsUser"
            android:exported="true" />
        <activity
            android:name=".userAdminProfile.EditField"
            android:exported="true" />
        <activity
            android:name=".userAdminProfile.EditUserData"
            android:exported="true" />
        <activity
            android:name=".approveReview.AprobarResenia"
            android:exported="true" />
        <activity
            android:name=".login.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>